.form__check{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;

}
.form__checkbox{
    width: 18px;
    height: 18px;
    position: absolute;
    opacity: 0;
}
.form__nom{
    margin-bottom: 0;
}
.form__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.form__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 0.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #425A70;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
}
.form__checkbox:checked+label::before {
    border-color: #1665D8;
    background-image: url('./img/check.svg');
}
.form__span{    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

.form__checkbox__label{
    margin-left: 32px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
}
.big__check{
    height: 40px;
    margin-bottom: 16px;
}
.form__dont__label{
    display: none;
}