.form__input{
    position: relative;
    height: 56px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.input__item__label{
    display: none;
    left: 16px;
    top: -10px;
    position: absolute;
    height: 16px;
    padding: 0 5px;
    background-color: #ffffff;
    color: #1665D8;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}
.form__input:nth-child(1){
    height: 75px;
}
.form__input:nth-child(2){
    height: 75px;
}
.form__input__item{
    outline:none;
    padding: 0 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    height: 56px;
    width: 328px;
    border: 1px solid rgba(0, 0, 0, 0.32);
    box-sizing: border-box;
    border-radius: 4px;
}
.form__input__item:focus{
    border: 1px solid #1665D8;
}
.form__input:nth-child(2), :nth-child(4), :nth-child(6){
    margin-right: 0;
    margin-bottom: 0;
}

.form__input__label{
    margin: 3px 0 0 16px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
}
.form__dont__label{
    display: none;
}